<<<<<<< HEAD
body {
  font-family: Arial, Helvetica, sans-serif;
  background: #f5f6f8;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background: #fff;
  padding: 24px;
  border-radius: 10px;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

h1 {
  font-size: 20px;
  margin-bottom: 16px;
  text-align: center;
}

label {
  font-size: 14px;
  margin-top: 12px;
  display: block;
}

input, button {
  width: 100%;
  padding: 10px 5px;
  margin-top: 6px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
}

button {
  background: #2563eb;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-top: 16px;
}

button:hover {
  background: #1e4ed8;
}

.result {
  margin-top: 16px;
  padding: 12px;
  border-radius: 6px;
  background: #f1f5f9;
  font-size: 14px;
}

.error {
  background: #fee2e2;
  color: #991b1b;
}
=======
body {
  font-family: Arial, Helvetica, sans-serif;
  background: #f5f6f8;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background: #fff;
  padding: 24px;
  border-radius: 10px;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

h1 {
  font-size: 20px;
  margin-bottom: 16px;
  text-align: center;
}

label {
  font-size: 14px;
  margin-top: 12px;
  display: block;
}

input, button {
  width: 100%;
  padding: 10px 5px;
  margin-top: 6px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
}

button {
  background: #2563eb;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-top: 16px;
}

button:hover {
  background: #1e4ed8;
}

.result {
  margin-top: 16px;
  padding: 12px;
  border-radius: 6px;
  background: #f1f5f9;
  font-size: 14px;
}

.error {
  background: #fee2e2;
  color: #991b1b;
}
>>>>>>> 011f0ca (add script no server e arquivo json para JS)
